<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
  inputmode="text"
  (ionChange)="onSearchChange($event)"
  ></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let movie of moviesList;" (click)="openDetail(movie.id)">
      <ion-avatar slot="start">
        <img [src]="movie.img" />
      </ion-avatar>
      <ion-label>
        <h2>{{movie.name}}</h2>
        <h3>{{movie.rat}}</h3>
        <p>{{movie.lang}}</p>
      </ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
